<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>CatonApp</title>
      <link rel="shortcut icon" type="image/jpg" href="https://img.icons8.com/ios/50/000000/test-tube.png"/>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  </head>
  <body>
      <br><br>
      <h2>Kaltura Video Exercise</h2>
      <div><i>Josh Caton</i></div>
      <br>
      <form action="bonus" method="post">
          {% for message in get_flashed_messages() %}
               <h5>{{ message }}</h5>
           {% endfor %}
          <div align="center" class="form-group">
          <label for="option">Entity ID: </label>
          <select class="form-control w-auto" name="option" width="300px" id="list" onchange:"this.form.submit()">
              <option value="" SELECTED></option>
          {% for o in option_list %}
              <option value="{{ o }}">{{ o }}</option>
          {% endfor %}
          </select>
          <br>
          <div class="mx-auto" id="kalturaPlayer" style="width: 640px;height: 360px"></div>
            <script type="text/javascript" src="https://cdnapisec.kaltura.com/p/4530233/embedPlaykitJs/uiconf_id/49734163"></script>
                <script type="text/javascript">
                try {
                  var kalturaPlayer = KalturaPlayer.setup({
                    targetId: "kalturaPlayer",
                    provider: {
                      partnerId: 4530233,
                      uiConfId: 49734163
                    },
                    playback: {
                      autoplay: true
                      }
                  });
                  var entryId = $('#list').find(":selected").text();
                  if (entryId !== "") {
                    kalturaPlayer.loadMedia({entryId: entryId});
                  }
                } catch (e) {
                  console.error(e.message)
                }
                $('#list').change(function(){
                    var entryId = $('#list').find(":selected").text();
                    if (entryId !== "") {
                      kalturaPlayer.loadMedia({entryId: entryId});
                      $('#buttons').show();
                    }
                    else {
                      $('#buttons').hide();
                    }
                });
                </script>
            <div id = "buttons" style="display: none;">
              <label for="option">Click here to view the player with customized CSS -> </label>
              <input class="btn btn-danger" type="submit" value="PLAYER CSS" id="bonus">
            </div>
      </form>
  </body>
</html>
